/*
 * author: Tsukumo, 2014
 */
.theme-solarized .red
{
    color:#DC322F;
}
.theme-solarized .red-background
{
    background:#DC322F;
}
.theme-solarized .orange
{
    color:#CB4B16;
}
.theme-solarized .orange-background
{
    background:#CB4B16;
}
.theme-solarized .yellow
{
    color:#B58900;
}
.theme-solarized .yellow-background
{
    background:#B58900;
}
.theme-solarized .green
{
    color:#859900;
}
.theme-solarized .green-background
{
    background:#859900;
}
.theme-solarized .cyan
{
    color:#2AA198;
}
.theme-solarized .cyan-background
{
    background:#2AA198;
}
.theme-solarized .blue
{
    color:#268BD2;
}
.theme-solarized .blue-background
{
    background:#268BD2;
}
.theme-solarized .violet
{
    color:#6C71C4;
}
.theme-solarized .violet-background
{
    background:#6C71C4;
}
.theme-solarized .white
{
    color:#FDF6E3;
}
.theme-solarized .white-background
{
    background:#FDF6E3;
}
.theme-solarized .gray
{
    color:#839496;
}
.theme-solarized .gray-background
{
    background:#839496;
}
.theme-solarized .black
{
    color:#073642;
}
.theme-solarized .black-background
{
    background:#073642;
}
