/*
 * author: Tsukumo, 2014
 */
.theme-flat .red
{
    color:#E74C3C;
}
.theme-flat .red-background
{
    background:#E74C3C;
}
.theme-flat .orange
{
    color:#E67E22;
}
.theme-flat .orange-background
{
    background:#E67E22;
}
.theme-flat .yellow
{
    color:#F1C40F;
}
.theme-flat .yellow-background
{
    background:#F1C40F;
}
.theme-flat .green
{
    color:#2ECC71;
}
.theme-flat .green-background
{
    background:#2ECC71;
}
.theme-flat .cyan
{
    color:#1ABC9C;
}
.theme-flat .cyan-background
{
    background:#1ABC9C;
}
.theme-flat .blue
{
    color:#3498DB;
}
.theme-flat .blue-background
{
    background:#3498DB;
}
.theme-flat .violet
{
    color:#9B59B6;
}
.theme-flat .violet-background
{
    background:#9B59B6;
}
.theme-flat .white
{
    color:#ECF0F1;
}
.theme-flat .white-background
{
    background:#ECF0F1;
}
.theme-flat .gray
{
    color:#95A5A6;
}
.theme-flat .gray-background
{
    background:#95A5A6;
}
.theme-flat .black
{
    color:#34495E;
}
.theme-flat .black-background
{
    background:#34495E;
}
